COMMUNICATION_SERVICES_CONNECTION_STRING=endpoint=https://<your-acs-resource>.communication.azure.com/;accesskey=<your-key>
SENDER_EMAIL_ADDRESS=DoNotReply@<your-verified-domain>.azurecomm.net
PORT=8080
DB_HOST=mysql-prod-demo-xxxx.mysql.database.azure.com
DB_USER=azureadmin
DB_PASSWORD=YourStrongPassword
DB_NAME=testdb
